/nvim/dein/
/vim/repos/
.DS_Store
/fish/fishd.*
/fish/functions/*
/fish/completions
/fish/work.fish
/fish/github_access_token.fish

# allow my func
!/fish/functions/fish_prompt.fish
!/fish/functions/fish_title.fish
