/nvim/dein/
/vim/repos/
.DS_Store
/fish/fishd.*
/fish/functions/*
/fish/completions
/fish/work.fish
/fish/github_access_token.fish

# allow my func
!/fish/functions/fish_prompt.fish
!/fish/functions/fish_title.fish
!/fish/functions/fish_right_prompt.fish
!/fish/functions/gco.fish
!/fish/functions/gnew.fish
!/fish/functions/gpr.fish
!/fish/functions/gcd.fish
!/fish/functions/buildapk.fish
!/fish/functions/adb-uninstall.fish
!/fish/functions/emu.fish

emacs.d/elpa/
